language: go

sudo: false

go:
  - 1.7
  - 1.8

before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - if ! go get github.com/golang/tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi

script:
  - go get ./...
  - go test -v -race -test.run= -test.bench=. -test.benchmem=true ./...
  - go test -coverprofile=.coverprofile .
  - make test
  - make coverage
  - $HOME/gopath/bin/goveralls -coverprofile=.coverprofile  -service=travis-ci
  - cd perf
  - go build
  - ./perf -s -addr :9900&
  - time ./perf -c -addr localhost:9900 -do post -count 1000000
